<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block content %}

<h1>Login</h1>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label  class="form-label">Username</label>
        <input type="text" class="form-control" name="n" placeholder="Enter the username:">
    </div>

    <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" class="form-control" name="p"  placeholder="Enter the password:">
    </div>


        <button type="submit" class="btn btn-primary" >Login</button>

</form>

{% if messages %}
{% for i in messages %}
<ul>
    <li>{{i}}</li>
</ul>

{% endfor %}
{% endif %}

{% endblock %}
</html>